@model PrototypeHumaginePageModel.Models.RegisterPageModel

@{
   var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
}

<h2>Register</h2>

<pre>
    @Html.Raw(serializer.Serialize(Model.Command))
</pre>

<form id="form" action="/api/WebApiCommand" method="POST">
	<input type="hidden" id="RegistrationId" name="RegistrationId" value="@Model.Command.RegistrationId" />
	<input type="submit" id="submit" value="Register" />
</form>

<script type="text/javascript">
    /*$(function () {

        $('#submit').click(function () {

            $.ajax({
                url: "/api/WebApiCommand",
                type: "POST",
                data: { RegistrationId: $('#RegistrationId').val() },
                dataType: "text",
                success: function (data, textStatus, jqXHR) {
                    alert(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("error: " + textStatus);
                }
            });

            return false;
        });

    });*/
</script>